$light-gray: #959A9F;
$dark-gray: #2B343F;
$light-blue: #5C90D2;
$dark-blue: #3C7AC9;
$light-green: #5DB85D;
$dark-green: #449D44;
$white: #fff;

body,html {
  margin: 0 auto;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: $light-gray;
	
	.navWrapper{
		width: 100%;
    background-color: $dark-gray;
    position: fixed;
    top: 0;
		
	nav{
		ul {
			li{
				list-style: none;
				
				a {
					text-decoration: none;
        }
      }
      img {
        height: 30px;
        width: 30px;
      }
		}
      .navContainer {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin: 0 auto;
        height: 50px;
        
        .logo {
          flex: 1;
          font-size: 26px;

          a{
            color: $white;
          }
        }

        .item {
          margin-left: 20px;
          font-weight: 600;
          font-size: 18px;
          color: $light-gray;
        }

        .item:hover {
          color: $light-blue;
        }
      }
    }
  }
  .textContainer {
    background-color: $white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .info {
      width: 50%;
      color: $dark-gray;
    }

    .subInfo {
      width: 60%;
    }

    .button {
      font-size: 18.72px;
      margin-top: 50px;
      padding: 10px 40px;
      background-color: $light-green;
      border-radius: 25px;
      color: $white;
      cursor: pointer;
    }

    .button:hover {
      background-color: $dark-green;
    }

    .scroll {
      position: absolute;
      bottom: 0;
      animation: move 5s infinite;

      @keyframes move {
        20%, 100% {
          transform: translate(0, -25px);
        }
      }
      a {
        text-decoration: none;
        color: $light-gray;
      }
    }
  }
  .textContainer2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .sub {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    img {
      margin-top: 20px;
      height: 125px;
      width: 125px;
    }

    h2 {
      text-align: center;
    }
    p {
      text-align: left;
    }
  }

  @media only screen and (min-width: 768px) {
    
    .navContainer{
      img {
        display: none;
      }
    } 

    .textContainer2 {
      display:flex;
      flex-direction: row;
      height: 100vh;

      .sub {
        margin: 20px;
        width: 33%;
      }
    }
  }
  @media only screen and (max-width: 767px) {

    .item {
      display: none;
    }
  }
}
